<div class="page-wrap">
  <div class="container group">
    <h1 class="page-title">Edit Post</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @post %> |
			<%= link_to 'Back', posts_path %>

		</div>
	</div>
</div>
