* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	/*font-family: 'Open Sans', sans-serif; */
	font-family: 'Varela Round', sans-serif;
	font-size: .9rem;
}

.header-container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1em;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1em;
}

div.header {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
  background: url('/assets/dude-on-mic.jpg') 
  no-repeat scroll center center / cover;
  background-size: cover;
}

.mast-1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

h1.header-text {
		color: #fff;
		font-size: 2.1rem;
		text-transform: uppercase;
	}

p.intro-text {
	font-size: 1.4rem;
	color: #fff;
}

p {
	font-weight: 300;
	line-height: 1.8em;
}


.add-pad {
	padding-top: 2em;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}

span.event-place {
	line-height: 1.8em;
}

header {
	padding: 1em 0;
	border-bottom:  1px solid #222;
}

a {
	color: #000;
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

.music-badge {
	font-size: .8em;
	color: #fff;
	background: #28282e;
	padding: .3em .5em .4em .5em;
	border-radius: 10px;
	margin: 0 .3em;
}

.line-section .music-badge {
	line-height: 3em;
}

hr {
	margin: .6em 0;
	border: 1px solid #eee;
}

a#logo {
	width: 200px;
	font-size: 1.4em;
	font-weight: 800;
	float: left;
}

.cords {
	display: none;
}


/************************************
				Navigation
************************************/


#menu {
	float: right;
	width: 2rem;
	position: fixed;
	right: 1rem;
	top: .5rem;
}

nav ul.navigation {
	float: right;
	display: none;
} 

nav li  {
	list-style-type: none;
}

ul.navigation li {
	float: left;
	padding: 0 15px;
}

ul.navigation li a {
}

/********************
				Form
*********************/

.section-title {
	background: #28282e;
	color: #fff;
	padding: .6em .5em;
	margin-bottom: 1em;
}

.page-label {
	margin: 1em 0;
}

.field {
	padding: .5em 0;
}

label {
	display: block;
	font-size: 1.4em;
	padding-bottom: .4em;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="file"],
select,
textarea {
	height: 44px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-shadow: none;
	border-radius: 5px;
	border: 2px solid #eee;
	padding: 2px 2px 0 8px;
	font-size: 1.1em;
}

input[type="submit"] {
height: 40px;
font-size: 1rem;
padding: .5rem .5rem;
margin-top: .5rem;
border-radius: .2rem;
}

textarea {
	height: 200px;
	font-family: 'Lato', sans-serif;
}

#sidebar-form input#email{
	width: 100%;
	margin: .5rem 0;
}

form {
	padding-bottom: 1em;
}

.btn-submit {
	color: #fff;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: .6em 1em;
  margin: 1em 0;
	font-size: 1em;
	background: #e74c3c;
  display: block;
  cursor: pointer;
}


.page-name {
	margin-bottom: 40px;
	background-color: #db1e25;
	padding: 10px 5px;
	color: #fff;
	border-radius: 2px;
}

/********************
     Other Styles
*********************/

h1.page-title {
}

ul.errors {
	margin-left: 1.5rem;
}

.page-title {
	font-size: 2.5rem;
	background: #000;
	color: #fff;
	padding: 1rem 0 1rem .8rem;
}

.genre-section-1,
.genre-section-2 {
	width: 50%;
	float: left;
	font-size: .8rem;
}

.page-label {
	font-size: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 30px 0;
	padding: 10px 0;
	border-bottom: 3px solid #333;
}

#index-page .line-title {
	display: inline;
	border-bottom: none;
	font-size: 18px
}

#map {
	width: 100%;
	margin: 1.5rem 0;
}

#map-canvas {
	width: 100%;
	height: 200px;
	margin: 1rem 0;
}

.line-title {
	color: #333;
	font-size: 1.2em;
	font-weight: 700;
	display: inline-block;
	margin-right: .4em;
}

h2.event-type,
.post-title {
	font-size: 2em;
	padding-top: 0em;
	margin-bottom: 1rem;
}

.post-title {
	margin-bottom: .8rem;
}

.place-title, 
.genre-title,
.event-date,
.share-title {
	font-size: 18px;
	display: inline;
	font-weight: bold;
}

.genre-bg {
	color: #fff;
	background-color: red;
	padding: 3px 10px;
	border-radius: 10px;
}

.line-section {
	padding: 5px 0;
}

.line-info,
.form-button {
	padding: .2em 0;
}

.artists-needed {
	display: inline;
}

.show-header {
	margin: 20px 0;
	background-color: #db1e25;
	padding: 8px 19px;
	color: #fff;
	border-radius: 2px;
	font-size: 20px;
}

.bubble {
	text-align: center;
	min-height: 20px;
	padding: 19px;
	margin: 20px 0; 
	background-color: whitesmoke;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.logo-img {
	margin-top: 20px;
}

.view-post {
	padding: 8px 0;
}

.form-img {
	max-width: 100px;
}

.submit {
	padding: 20px 0;
}

.post-section {
	padding: 1rem 0;
}

.sidebar .post-title {
	font-size: 1.2rem;
	margin: 1rem 0;
}

.action-btn {
	margin: 1rem 0;
}

.date {
	margin: .5rem 0;
}
.post-body {
	margin: 1rem 0;
}

/********************
     Footer
*********************/

footer {
	color: #fff;
	background: #28282e;
	text-align: center;
	padding: 1em 0;
	margin-top: 2em;
}

footer p {
	padding: 0;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -2em; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 2em; 
}

/********************
     Side Bar
*********************/

section.sidebar {
		display: none;
	}



/********************
     Media Queries
*********************/

@media (min-width: 700px) {

	body {
		font-size: 1rem;
	}

	section.main-content {
		width: 63%;
		float: left;
	}

	nav ul.navigation {
		display: block;
		padding-top: .4em;
	}

	#menu {
		display: none;
	}

	form {
		width: 60%;
	}

	#sidebar-form {
		width: 100%;
	}

	section.sidebar.index-page {
		padding-top: .3rem;
	}

	section.sidebar {
		display: block;
		width: 30%;
		float: right;
	}

	.sidebar-section {
		padding-bottom: 1rem;
	}

	.sidebar-section h2 {
		margin-bottom: .5rem;
	}

	.instagram-img img {
		width: 31.3333333%;
		float: left;
		margin: 1%;
	}


	/********************
		Header Video
	*********************/

	

	
}





