<header class="group">
  <div class="header-container">
    <%= link_to 'Open Mic Love', root_path, id: "logo" %>
    <a href="#" id="menu"><%= image_tag("menu.svg") %></a>
    <nav>
      <ul class="navigation">
        <li><%= link_to "Events", events_path %></li>
        <li><a href="about.html">About</a></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>